h1{
    text-align: center;
    color: green;
    text-shadow: 10px 10px 10px rebeccapurple;
    text-decoration: underline;
}

ul{
    background-color: greenyellow;
}

.search{
    background-color: pink;
}

h3{
    color: orange;
}
.form1{
    background-color: violet;
}

div{
    background-color: gray;
}
    
.th{
    background-color: aqua;
}












